.container-parent {
  background-color: #570415;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.title {
  color: #f3e055;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  min-height: 100vh;
}
.form-fields {
  color: #f3e055;
  display: inline-block;
  width: 100%;
  background-color: #3b000b;
}

.form-input {
  background-color: #f3e055;
  border-color: #f3e055;
}
.close-button {
  background-color: #f3e055;
  color: #3b000b;
}
