
.itemBoard {
  background-color: #3b000b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  min-height: 950px;
  float: none;
  position: relative;
}

.searchItemsWrapper{
  position: absolute;
  display: block;
  top: 0px;
  min-width: 100px;
  height: 20px;
}

.item-search-input {
  background-color: #f3e055;
  border-color: #f3e055;
  width: 200px;
}

.listing-button {
  color: #f3e055;
  background-color: #3b000b;
  border-color: #f3e055;
}

.yellow {
  color: yellow;
}
