/* This is the formatting classes that will be used in
the profile page.

relevant files: Profile.js
*/

.Background {
  /*background color of the entire page*/
  background-color: #570415;
  min-height: 100vh;
  padding-bottom: 50px;
}

.Header {
  /*the background of the top part with the name and image*/
  background-image: url(../../images/parchment_background.jpg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  width: 950px;
  min-height: 300px;
  float: none;
  position: relative;
  padding-bottom: 30px;
}

.UserInfoContainer {
  /*wrapper to place user information*/
  display: block;
  width: 300px;
  height: 300px;
  float: none;
  position: absolute;
  top: 15px;
  left: 500px;
}

.HeaderField {
  /*field labels*/
  color: #570415;
  display: block;
  text-decoration: none;
}

.UserField {
  /*fields for username and ranking*/
  color: black;
  display: block;
  text-decoration: none;
  left: 50px;
}

.SubfieldInfoContainer {
  /*wrapper to place user information*/
  display: block;
  width: 700px;
  height: 100px;
  float: none;
  position: absolute;
  top: 250px;
  right: 30px;
}

.HeaderSubfield {
  color: #570415;
  display: inline-block;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.UserSubfield {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 20px;
}

.Listings {
  /*the background of the bottom part with the listings*/
  background-image: url(../../images/parchment_background.jpg);
  display: block;
  width: 950px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  float: none;
  position: relative;
  padding-bottom: 50px;
}

.ProfilePic {
  /*the object holding the profile pic*/
  position: absolute;
  display: block;
  left: 120px;
  top: 40px;
}

.additionalUserInfoPortion {
  background-image: url(../../images/parchment_background.jpg);
  display: block;
  width: 950px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  float: none;
  position: relative;
  padding-bottom: 50px;
}

.userBioSection {
  width: 850px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.userGuildListTitle {
  background-color: #3b000b;
  color: yellow;
  width: 850px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.centerText {
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 250px;
  height: 100px;
}

.guildnamelistcontainer {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 250px;
  min-height: 200px;
}

.guildnamecontainer {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 250px;
  height: 50px;
}

/*-------------------Listing tab stuff-----------------------------*/
.PageSwitcher_profile {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item_profile {
  background-color: #4c5d72;
  color: #9da6b1;
  padding: 10px 200px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: red;
  color: yellow;
}

.PageSwitcher__Item_profile_active {
  background-color: red;
  color: yellow;
  padding: 10px 200px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

/*-----------------editing profile stuff----------------------*/
.edit-button {
  /* edit profile button*/
  color: #f3e055;
  background-color: #3b000b;
  border-color: #f3e055;
  padding: 5px 15px;
  cursor: pointer;
}

.button-container {
  position: absolute;
  display: block;
  width: 50px;
  height: 20px;
  right: 20px;
  top: 10px;
}

/*----------------the listed and borrowed item stuff------------*/
.ItemListWrapper {
  /*wrapper for all the items to appear*/
  background-color: ;
  display: block;
  width: 950px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  position: relative;
}

.item {
  background-color: #3b000b;
  display: block;
  width: 650px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  float: none;
  position: relative;
  cursor: pointer;
}

.itemImageWrapper {
  /*space where the picture of an item will go*/
  background-color: brown;
  color: yellow;
  display: inline-block;
  position: relative;
  left: 50px;
  top: 25px;
  width: 100px;
  height: 100px;
}

.itemInfoWrapper {
  color: yellow;
  display: block;
  position: absolute;
  left: 180px;
  top: 25px;
  width: 400px;
  height: 100px;
}

.itemInfoField {
  color: yellow;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

.editListingButtonWrapper {
  background-color: black;
  position: absolute;
  display: block;
  width: 115px;
  height: 20px;
  right: 20px;
  top: 10px;
}
